#menu-toggle-wrapper {
    position: fixed;
    top: 0;
    left: 0px;
    width: 70px;
    height: 60px;
    z-index: 30;
    display: block;
    background-color: #eeeeee;
}
#menu-toggle, #menu-toggle:before, #menu-toggle:after {
    -webkit-transition: all 0.3s cubic-bezier(0.585, -0.600, 0.430, 1.650);
    -moz-transition: all 0.3s cubic-bezier(0.585, -0.600, 0.430, 1.650);
    -ms-transition: all 0.3s cubic-bezier(0.585, -0.600, 0.430, 1.650);
    -o-transition: all 0.3s cubic-bezier(0.585, -0.600, 0.430, 1.650);
    transition: all 0.3s cubic-bezier(0.585, -0.600, 0.430, 1.650);
}

#menu-toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    display: block;
    margin-left: -15px;
    width: 30px;
    height: 3px;
    background: #000;
}

#menu-toggle:before {
    top: -8px;
}
#menu-toggle:after {
    bottom: -8px;
}
#menu-toggle:after, #menu-toggle:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    left: 0;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}

#inner-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    color: #000;
    height: 100%;
    z-index: 20;
    text-align: center;
    background-color: #eeeeee;
    box-shadow: 1px 0 4px -4px #000;
}

#inner-bar > .logo-alt {
    width: 70px;
    /* margin-top: -35px; */
    padding: 15px;
    bottom: 20px;
    position: absolute;
}

#inner-bar > .logo-alt img {
    width: 100%;
}

#main-content{
    position: relative;
    margin-left: 70px;
    z-index: 2;
    background: #fdfdfd;
    border-left: 1px solid #f1f1f1;
}


.page-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#side-bar {
    width: 270px;
    background: #dddddd;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0px;
    z-index: 100;
    display: none;
}


.inner-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    /* left: -70px; */
    /* margin-left: 70px; */
}
#side-inner {
    position: relative;
    min-height: 100%;
}

#logo-wrapper {
    padding: 60px 40px 40px;
}

#side-contents {
    position: relative;
    left: 0;
    padding-bottom: 100px;
}

#navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

#navigation li:first-child {
    border-top: 1px solid #efefef;
}
#navigation li {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    margin-bottom: 0;
}

#navigation li.current-menu-item a, #navigation li.current-menu-parent > a {
    color: #474747;
    background: #FEFEFE;
}
#navigation li a {
    display: block;
    padding: 20px 35px 20px 35px;
    color: #818181;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
}
#navigation li a, #navigation li ul li a {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#navigation li.current-menu-item a:before, #navigation li.current-menu-parent >a:before, #navigation .nav-prev>a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: #505050;
}
