@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: -10000px -2000px; }
}
@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: -10000px -2000px; }
}
@-ms-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position:-10000px -2000px; }
}
@-moz-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: -10000px -2000px;  }
}
@keyframes animatedBackground2 {
	0%{ background-position: 0 100%; }
	50%{ background-position: 100% 100%  }
	51% { background-position: 100% 100%  }
	100%{ background-position: 0 100%; }
}
@-webkit-keyframes animatedBackground2 {
	0%{ background-position: 0 100%; }
	50%{ background-position: 100% 100%  }
	51% { background-position: 100% 100%  }
	100%{ background-position: 0 100%; }
}
@-ms-keyframes animatedBackground2 {
	0%{ background-position: 0 100%; }
	50%{ background-position: 100% 100%  }
	51% { background-position: 100% 100%  }
	100%{ background-position: 0 100%; }
}
@-moz-keyframes animatedBackground2 {
	0%{ background-position: 0 100%; }
	50%{ background-position: 100% 100%  }
	51% { background-position: 100% 100%  }
	100%{ background-position: 0 100%; }
}
@keyframes animatedBackground3 {
	0%{ background-position: 100% 100%; }
	50%{ background-position: 0 100%  }
	51% { background-position: 0 100%  }
	100%{ background-position: 100% 100%; }
}
@-webkit-keyframes animatedBackground3 {
	0%{ background-position: 100% 100%; }
	50%{ background-position: 0 100%  }
	51% { background-position: 0 100%  }
	100%{ background-position: 100% 100%; }
}
@-ms-keyframes animatedBackground3 {
	0%{ background-position: 100% 100%; }
	50%{ background-position: 0 100%  }
	51% { background-position: 0 100%  }
	100%{ background-position: 100% 100%; }
}
@-moz-keyframes animatedBackground3 {
	0%{ background-position: 100% 100%; }
	50%{ background-position: 0 100%  }
	51% { background-position: 0 100%  }
	100%{ background-position: 100% 100%; }
}
#gotofacility{
	animation: animatedBackground2 150s ease-in-out infinite;
	-ms-animation: animatedBackground2 150s ease-in-out infinite;
	-moz-animation: animatedBackground2 150s ease-in-out infinite;
	-webkit-animation: animatedBackground2 150s ease-in-out infinite;}
#gotoview360{
	animatedBackground2 150s ease-in-out infinite;
	-ms-animation: animatedBackground3 150s ease-in-out infinite;
	-moz-animation: animatedBackground3 150s ease-in-out infinite;
	-webkit-animation: animatedBackground3 150s ease-in-out infinite;
	}
#gotoprogess{
	animation: animatedBackground3 150s ease-in-out infinite;
	-ms-animation: animatedBackground3 150s ease-in-out infinite;
	-moz-animation: animatedBackground3 150s ease-in-out infinite;
	-webkit-animation: animatedBackground3 150s ease-in-out infinite;}
#midground {
	background: url(../img/midground.png) repeat;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 0;
	animation: animatedBackground 500s linear infinite;
	-ms-animation: animatedBackground 500s linear infinite;
	-moz-animation: animatedBackground 500s linear infinite;
	-webkit-animation: animatedBackground 500s linear infinite;
}

#foreground {
	background: url(../img/foreground.png) repeat;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 0;
	animation: animatedBackground 200s linear infinite;
	-ms-animation: animatedBackground 200s linear infinite;
	-moz-animation: animatedBackground 200s linear infinite;
	-webkit-animation: animatedBackground 200s linear infinite;
}
